<%- include('../../fragments/header.ejs') %>
    <main>
        <h2>Lista procedur</h2>
        
        <form class="form select">
            
            <div>
                <label for="server">Serwer:</label>

                <select name="name" id="name">
                <option value="default">Wybierz...</option>
                <option value="serwer01">Serwer01</option>
                </select>
            </div>
            <div class="form-buttons">
                <input  class="form-button-submit" type="submit" value="Wykonaj" />
            </div> 
        </form>
            <table class="table-list">
                <thead>
                    <tr>
                        <th>NAZWA</th>
                        <th>OPIS</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>TEST</td>
                        <td>jakis opis</td>
                    </tr>
                </tbody>
            </table>
      
        <p>LISTA PROCEDUR Z DANEGO SERWERA Z UWAGAMI</p>
    </main>
    <%- include('../../fragments/footer.ejs') %>