<%- include('../../fragments/header.ejs') %>
    <main>
        <h2>Lista użytkowników</h2>
        <table class="table-list">
            <thead>
                <tr>
                    <th>LOGIN</th>
                    <th>TELEFON</th>
                    <th>EAMIL</th>
                    <th>IMIĘ</th>
                    <th>NAZWISKO</th>
                    <th>STATUS</th>
                    <th>DODANY</th>
                    <th>ZMODYFIKOWANY</th>
                    <th>AKCJE</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>TEST</td>
                    <td>987654321/td>
                    <td>TEST@TEST.PL</td>
                    <td>JAN</td>
                    <td>KOWALSKI</td>
                    <td>1</td>
                    <td>01.05.2021</td>
                    <td>01.05.2021</td>
                    <td>
                        <ul class="list-actions">
                            <li>
                                <a href=""class="list-actions-button-details">Szczegóły</a>
                            </li>
                            <li>
                                <a href=""class="list-actions-button-edit">Edytuj</a>
                            </li>
                            <li>
                                <a href=""class="list-actions-button-delete">Usuń</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
      
        <p>LISTA UŻYTKOWNIKÓW</p>
    </main>
    <%- include('../../fragments/footer.ejs') %>