
<%- include('../../fragments/header.ejs') %>
    <main>
        <h2>Szczegóły serwera</h2>
        <form class="form select">
            <div>
                <label for="name">NAZWA:</label>
                <input type="text" name="name" id="name"disabled />
            </div>
            <div>
                <label for="DNS">DNS:</label>
                <input type="text" name="DNS" id="dns"disabled />
            </div>  
            <div>
                <label for="IP">IP:</label>
                <input type="text" name="IP" id="ip"disabled />
            </div>
            <div>
                <label for="port">PORT:</label>
                <input type="text" name="PORT" id="port"disabled />
            </div>
            <div>
                <label for="kalster">KLASTER:</label>
                <input type="text" name="KLASTER" id="klaster"disabled />
            </div>
            <div>
                <label for="opis">OPIS:</label>
                <input type="text" name="OPIS" id="opis"disabled />
            </div>
            <div>
                <label for="aktywny">AKTYWNY:</label>
                <input type="text" name="AKTYWNY" id="aktywny"disabled />
            </div>
            <div>
                <label for="historia">HISTORIA:</label>
                <input type="text" name="HISTORIA" id="historia"disabled />
            </div>
            <div>
                <input class="form-button-submit" type="submit" value="Edytuj"/>
                <a class="form-button-cancel" href="">Powrót</a>    
            </div> 

        </form>
    </main>
    <%- include('../../fragments/footer.ejs') %>