<%- include('../../fragments/header.ejs') %>
    <main>
        <h2>Lista serwerów</h2>
        <p><a href="" class="button-add">Dodaj grupę</a></p>
            <table class="table-list">
                <thead>
                    <tr>
                        <th>NAZWA</th>
                        <th>DNS</th>
                        <th>IP</th>
                        <th>KLASTER</th>
                        <th>OPIS</th>
                        <th>AKTYWNY</th>
                        <th>HISTORIA</th>
                        <th>DODANY</th>
                        <th>ZMODYFIKOWANY</th>
                        <th>AKCJE</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>TEST</td>
                        <td>127.0.0.1</td>
                        <td>1433</td>
                        <td>1</td>
                        <td>SERWER TESTOWY</td>
                        <td>1</td>
                        <td>...</td>
                        <td>01.05.2021</td>
                        <td>01.05.2021</td>
                        <td>
                            <ul class="list-actions">
                                <li>
                                    <a href=""class="list-actions-button-details">Szczegóły</a>
                                </li>
                                <li>
                                    <a href=""class="list-actions-button-edit">Edytuj</a>
                                </li>
                                <li>
                                    <a href=""class="list-actions-button-delete">Usuń</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        <p><a href="" class="button-add">Dodaj nowy serwer</a></p>
    </main>
    <%- include('../../fragments/footer.ejs') %>